:root {
  --scrollbarTrack: hsl(var(--b2));
  --scrollbarThumb: hsl(var(--b3));
  --scrollbarThumbHover: hsl(var(--b1));
}
/* Scrollbar colors*/
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* thumb track */
}

/* Works on Chrome, Edge, and Safari */
/* width */
*::-webkit-scrollbar {
  width: 8px;
  visibility: hidden;
}
*::-webkit-scrollbar:hover {
  visibility: visible;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: var(--scrollbarTrack);
} */

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: var(--scrollbarThumb);
  border-radius: 3px; */
  background-color: rgba(0, 0, 0, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbarThumbHover);
}
